<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39689455124-em7jumjnm64pjc084uoqki6liohp7ja4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39689455124-em7jumjnm64pjc084uoqki6liohp7ja4</string>
	<key>API_KEY</key>
	<string>AIzaSyCzoqexUg-kZ0CUdCkIa_n4s15QBvG9eDY</string>
	<key>GCM_SENDER_ID</key>
	<string>39689455124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-805f2</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-805f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39689455124:ios:28a20dc4d252e9d48a0901</string>
</dict>
</plist>